/**************************************************** GENERAL ************************************************/
.container{margin:0 auto;width: auto;}
.navbar{margin-top: 10px;}
.title{background-color: #d1e7dd;margin-bottom: 5px;margin-bottom: 5px}
.container a{text-decoration: none;}
/**************************************************** HAUT ************************************************/
#header{ padding-top: 0rem;color: rgb(194, 189, 189); }
header span{ text-emphasis-color: rgb(209, 191, 191); color: #431cc4;text-align: center;}
header  nav{ background:rgb(241, 236, 236); }
.navbar {border-radius: .3rem;-webkit-border-radius: .3rem;-moz-border-radius: .3rem;-ms-border-radius: .3rem;-o-border-radius: .3rem;color: #fff; }
#barre-e_shop .logo {border-radius: .25rem;-webkit-border-radius: .25rem;-moz-border-radius: .25rem;-ms-border-radius: .25rem;-o-border-radius: .25rem;}
#barre-e_shop li a.dropdown-toggle::after {content: none;}
#barre-e_shop li a.dropdown-toggle #check {position: absolute;top: 30px;left: 35px;}
#barre-e_shop .btn-outline-mu {color: #6D81A8;border-color: #6D81A8;}
#barre-e_shop .btn-outline-mu:hover {background-color: #0d1b2a;border-color: #0d1b2a;color: #E0E1DD;}
#barre-e_shop .dropdown-menu a.dropdown-item.btn.btn-primary {text-align: center;margin: 0.5rem;margin: 0.5rem;margin-right: 0.5rem;margin-left: 0.5rem;width: 90%;margin-left: auto;margin-right: auto;border-color: #1b263b;}

/**************************************************** MILIEU ************************************************/
#carouselExampleInterval{margin: 0 auto; width: 1900px; height: 300px;}
/**************************************************** BAS ************************************************/
footer{ background: #d1e7dd;color: black; text-align: center; }
footer a ul li{text-decoration: none;}
/**************************************************** GENERAL ************************************************/
.erreur{ background:orange; padding: 5px; margin: 5px; }
.validation{ background: #9e759e; padding: 5px; margin: 5px; }
.cadre{ border: 1px solid #0f0f0f; width: 30%;}
.cadre  h2{ background: #007bff; margin: 0; text-align: center; font-size: 15px; padding: 5px; }
.cadre  p{ padding: 10px; }
.centre{text-align: center;}
/**************************************************** BOUTIQUE ************************************************/
.boutique-gauche  ul{ list-style: none; padding: 0; }
.boutique-gauche  ul  li  a{ display: block; padding: 10px; text-decoration: none;}
.boutique-gauche  ul  li  a:hover{ background: #04baf6; color: #fff; }
.boutique-gauche{ float: right; width: 12%; background: #d1e7dd;margin-top: 20px;   text-align: center; font-weight: bold;}
.boutique-droite{float: left; width: 80% }
.boutique-produit:hover{ background: #c0c0c0; }
/**************************************************** DIVERS ************************************************/
.card{float: left; width: auto; margin-top: 20px;margin-left: 25px;}
a{text-decoration: none;}
table{ border-collapse: collapse; }
table tr td th{text-align: center;}
td, th{ padding: 5px; }
li{text-decoration-line: none;}
/**************************************************** FORMULAIRE ************************************************/
h1{background-color: #d1e7dd;}
h2 {background:#007bff; color: white;font-weight: 300;padding: 15px 25px;line-height: 30px;font-size: 25px;text-align: center;}
h3{background-color:#d1e7dd ;}
.box {text-align-last: center ;border: 1px solid #111111;padding: 30px 25px 10px 25px; background: white;margin: 30px;margin-left: auto;margin-right: auto;width: 60%;;border-radius: 0.3rem;-webkit-border-radius: 0.3rem;-moz-border-radius: 0.3rem;-ms-border-radius: 0.3rem;-o-border-radius: 0.3rem;}
.body-mu {min-height: 100vh;padding-right: 15px;padding-left: 15px;}
header { text-align: center; color: #6b4a72;}
.btn.btn-primary,.btn-primary {background-color: #007bff;border-color: #6b4a72;color: #fff;}
#paiement .nav-pills .show>.nav-link{background-color:#6D81A8 ;border: 1px solid #c4c4c4;color: white;}
#paiement .nav-pills a.nav-link {color:#0d1b2a ;border: 1px solid #c4c4c4;}
li {text-decoration: none;}
/**************************************************** RESPONSIVE ************************************************/

@media (min-width: 992px) and (max-width: 1199px) {
    #catalog .card .box_img {
        width: 200px;
        height: 190px;
    }
    #catalog .card .img_thumb {
        max-width: 190px;
        max-height: 190px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card .box_img {
        width: 200px;
        height: 190px;
    }
    .card .img_thumb {
        max-width: 190px;
        max-height: 190px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card .box_img {
        width: 300px;
    }
    .card .img_thumb {
        max-width: 300px;
        max-height: 300px;
    }
    #body-shop-single .box_img {
        width: 200px;
        height: 200px;
    }
    #body-shop-single .img_thumb {
        max-width: 200px;
        max-height: 200px;
    }
}

@media (max-width: 767px) {
    #categorie {
        display: grid!important;
        margin-left: auto;
        margin-right: auto;
    }
    #body-shop-single .box_img {
        width: 200px;
        height: 200px;
    }
    #body-shop-single .img_thumb {
        max-width: 200px;
        max-height: 200px;
    }
    .sep{
        border: 0;
    }
}
